@charset "UTF-8"

 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: rgba(152, 154, 156, 0.555);
    height: 100vh;
    width: 100vw;
}
header {
    display: flex;
    background-color: gray;
    color: white;
    padding: 10px;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
}
header > nav {
    display: flex;
    flex-flow: nowrap;
    justify-content: center;

}
header > nav > a {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}
header > nav > a:hover {
    background-color: white;
    color: black;
    transition: background-color .5s;
}
main {
    background-color: white;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}