@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.header-title {
    background-color: #2e2e2e;
    color: white;
    padding: 20px;
    text-align: center;
}

.header-title h1 {
    margin-bottom: 15x;
}

nav{
    background-color: #33373b;
    padding: 15px;
}

nav a{
    text-decoration: none;
    color: white;
    margin-top: 20px;
}
.container {
    display: flex;
    margin-top: 15px;
}

.main-content {
    flex-grow:3;
    padding: 20px;
    background-color: #ecf0f1;
}

.sidebar {
    flex-grow: 1;
    padding: 20px;
    background-color: #bdc3c7;
}
.card {
    background-color: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width:100vw;
    margin: 0 auto;
}

.sobre {
    margin-top: 10px;
    margin-left: 10px;
}


.habilidades {
    margin-top: 10px;
    margin-left: 10px;
}

.formação {
    margin-top: 10px;
    margin-left: 10px;
}

.planejamento {
     margin-top: 10px;
     margin-left: 10px;
}